{% extends "templateinit.twig" %}

{% block title %}Les oeuvre d'Anne Madamet
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}

    <h1>{{ a_variable }}</h1>
    
    
    <ul id="Listeoeuvre">
    
        {% for oeuvre in oeuvres %}
        <p>
            <li>numéro de l'oeuvre: {{ oeuvre.oeuvre_id|e }}</li>
            <li>titre oeuvre: {{ oeuvre.oeuvre_titre|e('html') }}</li>
            <li>description oeuvre : {{ oeuvre.oeuvre_description|e('html') }}</li>
            <li><a href="/oeuvre/{{ oeuvre.oeuvre_id|e }}">Détails</a></li>
                
        {%  else  %}
            Aucun lien n'a été trouvé.
        {% endfor %}
    </ul>
{% endblock %}