{% extends "templateinit.twig" %}

{% block title %}
Biographie de l'artiste peintre Anne Madamet
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}

    <h1>{{ a_variable }}</h1>

    <section id='artiste'>

        {% for artiste in dataartiste %}
    
        <div id="artistedetails">
            <h3>{{ artiste.artiste_title|e }}</h3>
            <div id="imageartiste">
                
                <img src="{{ base }}/images/{{artiste.artiste_photo|e}}" title="Portrait d'Anne Madamet" alt="portrait artiste" id="photo" />
            </div>
            <div id="artistedescrip">                    
                {{ artiste.artiste_text|raw }}
             </div>
             

        </div>

        {% endfor %}
    </section>
   
       
   
{% endblock %}